.billing {
  background-color: $secondary;
  color: $white;
  padding: 100px 0;

  .subtitle {
    color: $body-color;
  }
}

.compatibility {
  padding-bottom: 100px;
}

// < 768px
@include media-breakpoint-down(md) {
  .billing {
    padding: 60px 0;
  }

  .compatibility {
    padding-bottom: 60px;
  }
}