.component-content {
  padding: 100px 0;

  .key-features {
    display: grid;
    gap: 20px;
    counter-reset: step;
    margin-bottom: 50px;

    &--item {
      position: relative;
      padding-left: 50px;

      &::before {
        position: absolute;
        left: 0;
        content: counter(step);
        counter-increment: step;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        background: $secondary;
        color: $white;
        font-size: 2rem;
        font-weight: $header-font-weight;
        border-radius: 50%;
      }

      h4 {
        font-size: 2rem;
        font-weight: $header-font-weight;
        margin-bottom: 20px;
      }

      p {
        position: relative;
        padding: 0 0 10px;
        margin: 0;

        &::before {
          content: "";
          position: absolute;
          left: -35px;
          top: 5px;
          bottom: 0;
          width: 3px;
          background: $secondary;
        }
      }
    }
  }
}

.components-section {
  background-color: $primary;
  color: $white;
}

// < 1200px
@include media-breakpoint-down(xl) {
  .component-content {
    .key-features {
      margin: 50px 0;
    }
  }
}

// < 768px
@include media-breakpoint-down(md) {
  .component-content {
    padding: 60px 0;

    .key-features {
      &--item {
        &::before {
          width: 35px;
          height: 35px;
          font-size: 1.8rem;
        }

        h4 {
          font-size: 1.8rem;
        }
      }
    }
  }
}
