.international-transfer-content-section {
  &--three,
  &--four,
  &--five {
    padding: 80px 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        position: relative;
        padding-left: 35px;
        font-size: 1.6rem;
        color: #0c0a09;
        line-height: 1.4;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 2px;
          width: 20px;
          height: 20px;
          background: url(../img/redesign/list-marker-green.svg) center center no-repeat;
          background-size: 20px;
        }

        &:not(:last-child) {
          margin-bottom: 24px;
        }

        strong {
          font-weight: 600;
        }
      }
    }

    p {
      @extend .text-lg;
      font-weight: 500;
      margin-bottom: 30px;
      color: #0c0a09;
    }
  }

	&--two,
	&--eight {
		padding: 100px 0;
	}

  &--three {
    margin-top: 20px;
  }

  &--five {
    margin-bottom: 20px;
  }

	&--six {
		padding-top: 100px;
		background-color: #072F19;
		color: $white;

		p,
		.section-title {
			color: inherit;
		}

		p {
			max-width: 80%;
			margin: 0 auto;
		}
	}

  &--nine {
    background: radial-gradient(113.31% 160.11% at 24.06% 206.84%, #24ec7f 0%, #0e5e33 100%);
  }
}

// < 1200px
@include media-breakpoint-down(xl) {
  .international-transfer-content-section {
		&--six {
			p {
				max-width: 90%;
			}

			.image {
				max-width: 500px;
				margin: 0 auto;
			}
		}
	}
}

// < 992px
@include media-breakpoint-down(lg) {
  .international-transfer-content-section {
    &--four {
      background-color: #eff3f1;
    }
  }
}

// < 768px
@include media-breakpoint-down(md) {
  .international-transfer-content-section {
    &--three,
    &--four,
    &--five {
      padding: 30px 0;
    }

		&--two,
    &--eight {
      padding: 50px 0;
    }

		&--six {
			padding-top: 50px;

			p {
				max-width: 100%;
			}
		}
  }
}
