.why-us-alt {
	padding: 50px 0;

	&--items {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 20px;

		.card-why-us-alt {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			border: 1px solid #d9d9d9;
			border-radius: 10px;
			padding: 30px 20px;
			text-align: center;
			min-height: 100%;
			transition: all 0.4s ease-in;

			&--icon {
				margin: 0 auto 30px;
				height: 100px;
				width: 100px;

				img {
					height: 100%;
					width: 100%;
					object-fit: contain;
				}
			}

			&--title {
				font-size: 2.6rem;
				font-weight: 700;
				margin-bottom: 20px;
			}

			&--text {
				font-size: 1.6rem;
			}

      &--header {
        flex-grow: 1;
      }

			&--footer {
				border-top: 1px solid rgba(0, 0, 0, 0.175);
				margin-top: 30px;
				padding-top: 30px;

				.btn {
					text-decoration: underline;
				}
			}

			&:hover {
				background-color: #aff8c8;
			}
		}
	}
}

// < 1200px
@include media-breakpoint-down(xl) {
  .why-us-alt {
    &--items {
      .card-why-us-alt {
        &--icon {
          height: 60px;
          width: 60px;
        }
  
        &--title {
          font-size: 2rem;
        }
      }
    }
  }
}

// < 768px
@include media-breakpoint-down(md) {
  .why-us-alt {
    padding: 30px 0;
    
    &--items {
      grid-template-columns: auto;

      .card-why-us-alt {
        &--icon {
          margin-bottom: 10px;
        }
  
        &--title {
          font-size: 1.8rem;
        }
      }
    }
  }
}