.why-choose-us {
  padding: 100px 0;
  overflow: hidden;

  &--items {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
  }

  &--swiper {
    overflow: visible;

    .swiper-slide {
      height: initial;
    }
  }
}

// < 1200px
@include media-breakpoint-down(xl) {
  .why-choose-us {
    &--items {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

// < 768px
@include media-breakpoint-down(md) {
  .why-choose-us {
    padding: 60px 0;

    &--items {
      grid-template-columns: auto;
    }
  }
}