.payment-link-content-section {
  &--one {
    padding: 100px 0;
    background-color: #EFF3F1;
  }

  &--two {
    padding: 100px 0;
  }
}

// < 768px
@include media-breakpoint-down(md) {
	.payment-link-content-section {
		&--one,
		&--two {
			padding: 50px 0;
		}
  }
}