.corporate-content-section--ten,
.international-transfer-content-section--two {
  position: relative;
  overflow: hidden;

  .title-row {
    p {
      max-width: 70%;
      margin: 0 auto;
    }
  }

  .content-wrapper {
    position: relative;

    .transfer-row {
      position: relative;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  // .fixed-text {
  //   position: relative;
  //   top: 0;
  //   bottom: 0;
  //   width: auto;
  //   padding: 0 30px;
  //   display: inline-flex;
  //   z-index: 1;
  //   overflow: hidden;

  //   h3 {
  //     margin: 0;
  //     font-size: 5rem;
  //   }
  // }

  .flags-row {
    display: flex;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
    position: relative;

    > div {
      flex-shrink: 0;
    }

    .image {
      display: flex;
      flex-shrink: 0;

      img:not(.title-text) {
        width: 140px;
        height: 140px;
        border-radius: 50%;
      }
    }

    .title-text {
      width: auto;
      height: 140px;
    }

    &--one {
      .fixed-text {
        right: 0;
      }
    }

    &--two {
      justify-content: flex-end;

      .fixed-text {
        left: 0;
      }
    }

    &--three {
      .fixed-text {
        left: 0;
      }
    }
  }
}

.personal-content-section--nine,
.international-transfer-content-section--eight,
.multicurrency-wallet-content-section--seven {
  background-color: #eff3f1;

  .country-list {
    &--items {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      gap: 30px;
    }

    &--item {
      padding: 16px;
      display: flex;
      gap: 10px;
      flex-direction: column;

      .image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }

      a {
        font-weight: 500;
        text-decoration: underline;

        &:hover {
          color: $deep-green;
        }
      }
    }
  }
}

.business-content-section--eleven,
.international-transfer-content-section--nine,
.multicurrency-wallet-content-section--eight,
.expense-card-content-section--eight {
  position: relative;
  padding: 100px 0;
  background-color: #004520;
  overflow: hidden;

  .content {
    &--img {
      position: absolute;
      bottom: -20px;
      right: -20px;
      opacity: 0.2;

      // > 1200px
      @include media-breakpoint-up(xl) {
        img {
          width: 520px;
        }
      }
    }

    &--items {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 20px 20px;
      // place-items: center;
    }

    &--item {
      position: relative;

      &:first-child {
        display: flex;
        align-items: center;

        h3 {
          color: $white;
          text-transform: uppercase;
          // > 992px
          @include media-breakpoint-up(lg) {
            font-size: 5rem;
          }
        }
      }

      &:not(:first-child) {
        background-color: $white;
        border-radius: 16px;
        padding: 24px;
        text-align: center;

        .icon {
          margin-bottom: 20px;

          img {
            height: 50px;
          }
        }

        .text {
          h4 {
            text-transform: uppercase;
            margin-bottom: 10px;
          }

          p {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

.explore-ways {
  padding: 100px 0;

  .explore {
    &--items {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 24px;
    }

    &--item {
      position: relative;
      padding: 24px 40px 24px 24px;
      border-radius: 8px;
      background: radial-gradient(113.31% 160.11% at 24.06% 206.84%, #24ec7f 0%, #0e5e33 100%);
      color: $white;
      font-size: 2rem;
      text-decoration: none;
      transition: background 0.3s ease-in;

      &:hover {
        background: radial-gradient(113.31% 160.11% at 24.06% 206.84%, #a8ffb0 0%, #0e5e33 100%);
      }

      &::after {
        content: "";
        position: absolute;
        right: 24px;
        top: 0;
        bottom: 0;
        width: 20px;
        background: url(../img/other/right-arrow.svg) 50% no-repeat;
        background-size: 20px;
      }
    }
  }

  &--light {
    .explore--item {
      background: #eff3f1;
      color: #000000;

      &::after {
        background-image: url(../img/other/right-arrow-black.svg);
      }

      &:hover {
        background: #d3e1da;
      }
    }
  }
}

.vertical-tab-wrapper {
  margin-top: 80px;

  .mockup-img {
    .tab-pane {
      transition: opacity 0.3s ease;
    }

    img {
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
      border-radius: 1.5rem;
    }
  }

  .steps-nav {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .step-btn {
      background: none;
      border: none;
      text-align: left;
      padding: 10px 0;
      transition: all 0.3s ease;
      cursor: pointer;
      opacity: 0.4;

      h3 {
        display: inline;
        margin: 0;
        font-size: 3.2rem;
        font-weight: 700;
        color: #002913;
        transition: color 0.3s;
      }

      p {
        font-size: 1.8rem;
        color: #0c0a09;
        display: none;
        margin: 20px 0 0;
      }

      &.active {
        opacity: 1;

        h3 {
          color: #002913;
        }

        p {
          display: block;
          color: #000;
        }
      }
    }
  }

  &--alt {
    .steps-nav {
      counter-reset: step-items;

      .step-btn {
        h3 {
          position: relative;
          padding-left: 60px;

          &::before,
          &::after {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 0;
            top: -5px;
            width: 48px;
            height: 48px;
            border-radius: 50%;
          }

          &::before {
            content: "";
            background-color: #004520;
          }

          &::after {
            content: counter(step-items);
            counter-increment: step-items;
            color: $white;
            font-size: 2rem;
            font-weight: 700;
          }
        }

        p {
          display: block;
        }
      }
    }
  }
}

// < 1500px
@include media-breakpoint-down(xxl) {
  .personal-content-section--nine,
  .international-transfer-content-section--eight,
  .multicurrency-wallet-content-section--seven {
    .country-list--items {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}

// < 1200px
@include media-breakpoint-down(xl) {
  .corporate-content-section--ten,
  .international-transfer-content-section--two {
    .flags-row {
      .image {
        img {
          width: 100px !important;
          height: 100px !important;
        }
      }

      .title-text {
        height: 100px;
      }
    }
  }

  .personal-content-section--nine,
  .international-transfer-content-section--eight,
  .multicurrency-wallet-content-section--seven {
    .country-list--items {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  .business-content-section--eleven,
  .international-transfer-content-section--nine,
  .multicurrency-wallet-content-section--eight,
  .expense-card-content-section--eight {
    .content {
      &--items {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      &--item {
        &:first-child {
          grid-column: 1 / span 2;
          justify-content: center;
          text-align: center;

          h3 {
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  .vertical-tab-wrapper {
    margin-top: 20px;
  }
}

// < 992px
@include media-breakpoint-down(lg) {
  .vertical-tab-wrapper {
    margin-top: 40px;

    .steps-nav {
      .step-btn {
        h3 {
          font-size: 2.4rem;
        }

        p {
          font-size: 1.6rem;
          margin: 10px 0 0;
        }
      }
    }
  }
}

// < 768px
@include media-breakpoint-down(md) {
  .corporate-content-section--ten,
  .international-transfer-content-section--two {
    .title-row {
      p {
        max-width: 100%;
      }
    }

    .content-wrapper .transfer-row:not(:last-child) {
      margin-bottom: 20px;
    }

    .flags-row {
      .image {
        img {
          width: 70px !important;
          height: 70px !important;
        }
      }

      .title-text {
        height: 70px;
      }
    }
  }

  .personal-content-section--nine,
  .international-transfer-content-section--eight,
  .multicurrency-wallet-content-section--seven {
    .country-list {
      &--items {
        gap: 15px;
        margin-top: 30px;
      }

      &--item {
        background-color: $white;
        text-align: center;
        gap: 15px;

        .image {
          margin: 0 auto;
        }

        a {
          font-size: 1.4rem;
        }
      }
    }
  }

  .business-content-section--eleven,
  .international-transfer-content-section--nine,
  .multicurrency-wallet-content-section--eight,
  .expense-card-content-section--eight {
    padding: 50px 0;
  }

  .explore-ways {
    padding: 50px 0;

    .explore {
      &--items {
        grid-template-columns: auto;
        gap: 15px;
      }

      &--item {
        font-size: 1.6rem;
      }
    }
  }

  .vertical-tab-wrapper {
    .mockup-img {
      margin-bottom: 30px;

      img {
        max-height: 500px;
      }
    }

    .steps-nav {
      gap: 20px;

      .step-btn {
        padding: 5px 0;

        h3 {
          font-size: 2rem;
        }
      }
    }

    &--alt {
      .steps-nav {
        .step-btn {
          h3 {
            padding-left: 40px;

            &::before,
            &::after {
              top: -3px;
              width: 30px;
              height: 30px;
            }

            &::after {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}

// < 575px
@include media-breakpoint-down(sm) {
  .personal-content-section--nine,
  .international-transfer-content-section--eight,
  .multicurrency-wallet-content-section--seven {
    .country-list {
      &--items {
        grid-template-columns: auto;
      }
      &--item {
        gap: 5px;
      }
    }
  }

  .business-content-section--eleven,
  .international-transfer-content-section--nine,
  .multicurrency-wallet-content-section--eight,
  .expense-card-content-section--eight {
    .content {
      &--img {
        width: 250px;
      }

      &--items {
        grid-template-columns: auto;
        gap: 20px;
      }

      &--item {
        &:first-child {
          grid-column: 1;

          h3 {
            margin-bottom: 15px;
            font-size: 2.8rem;
          }
        }
      }
    }
  }
}
