$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px
) !default;

$container-max-widths: (
  sm: 100%,
  md: 900px,
  lg: 960px,
  xl: 1400px,
  xxl: 1515px //1467px container content area
  // xxl: 1488px //1440px container content area
) !default;