$grid-gutter-width: 48px !default;

$body-bg: #ffffff;
$bright-green: #24ec7e;
$deep-green: #002913;

$content-primary: #002913;
$content-secondary: #5e605f;
$content-tertiary: #ebf0ed;
$content-link: #004520;

$primary: $content-primary;
$body-color: $content-secondary;

// Font Variables
$font-family-base: 'Inter', sans-serif;

$font-weight-base: 300;
$header-font-weight: 700;
$header-font-color: $content-primary;

$cubic-transition: cubic-bezier(0.6, 0.01, 0.1, 0.96);
