.card-payment {
	&--img {
		background: radial-gradient(
			113.31% 160.11% at 24.06% 206.84%,
			#24ec7f 0%,
			#0e5e33 100%
		);
		border-radius: 16px;
		text-align: center;
		height: 280px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		margin-bottom: 15px;
		padding: 50px 10px 0;
	}

	&--text {
		@extend .p;
		font-size: 1.6rem;
		margin: 10px 0 15px;
	}

	.btn {
		min-width: 180px;
	}
}

.card-sell {
	background-color: #eff3f1;
	padding: 30px;
	min-height: 100%;
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;

	&--img {
		margin-bottom: 30px;
		height: 295px;

		img {
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}

	&--content {
		.title {
			color: #373737;
			font-size: 3.2rem;
			font-weight: 700;
		}

		.text {
			font-size: 1.8rem;
			font-weight: 500;
			color: #09140e;
			margin: 10px 0 0;
		}
	}

	&--cta {
		margin-top: 50px;

		a {
			min-width: 180px;
		}
	}
}

.card-component {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	text-align: center;

	&--header {
		.icon {
			width: 48px;
			height: 48px;
			margin: 0 auto 16px;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	&--body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		flex-grow: 1;

		.title {
			font-size: 2.4rem;
			font-weight: 700;
			margin-bottom: 16px;
		}

		p {
			margin: 0;
		}

		.btn {
			min-width: 185px;
		}
	}
}

.feature {
	&-cards {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 24px;
	}

	&-card {
		background-color: $white;
		border-radius: 16px;
		padding: 40px;
		display: flex;
		flex-direction: column;
		gap: 16px;

		&__icon {
			width: 48px;
			height: 48px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #004520;
			padding: 6px;
		}

		&__title {
			font-size: 3.2rem;
		}

		&__text {
			font-size: 1.6rem;
			margin: 0;
		}
	}
}

// < 1200px
@include media-breakpoint-down(xl) {
	.feature-card__title {
		font-size: 2rem;
	}
}

// < 992px
@include media-breakpoint-down(lg) {
	.card-sell {
		&--img {
			text-align: center;
			height: 185px;
		}

		&--content {
			.title {
				font-size: 2rem;
			}

			.text {
				font-size: 1.6rem;
			}
		}

		&--cta {
			margin-top: 20px;
		}
	}

	.feature-card {
		padding: 25px;
	}
}

// < 768px
@include media-breakpoint-down(md) {
	.card-component {
		&--header {
			.icon {
				width: 30px;
				height: 30px;
			}
		}

		&--body {
			.title {
				font-size: 1.8rem;
			}
		}
	}

	.feature {
		&-cards {
			grid-template-columns: auto;
		}
	}
}
