.card-payment {
  &--img {
    background: radial-gradient(113.31% 160.11% at 24.06% 206.84%, #24ec7f 0%, #0e5e33 100%);
    border-radius: 16px;
    text-align: center;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding: 10px;
  }

  &--text {
    @extend .p;
    margin: 10px 0 15px;
  }

  .btn {
    min-width: 180px;
  }
}

.card-sell {
  &--img {
    margin-bottom: 25px;
  }

  &--content {
    .title {
      color: #373737;
      font-size: 3.2rem;
      font-weight: 700;
    }

    .text {
      font-size: 1.8rem;
      color: #777777;
      margin: 10px 0 0;
    }
  }
}

// < 992px
@include media-breakpoint-down(lg) {
  .card-sell {
    &--content {
      .title {
        font-size: 2rem;
      }

      .text {
        font-size: 1.6rem;
      }
    }
  }
}
