.hero {
  position: relative;
  overflow: hidden;

  &--img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    video,
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0.5;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: $deep-green;
    }
  }

  &--content {
    text-align: center;

    h1 {
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    p {
      max-width: 55%;
      font-size: 2rem;
      margin: 15px auto 30px;
    }

    .btn {
      min-width: 150px;
    }
  }

  .content-wrapper {
    position: relative;
    z-index: 1;
  }

  &--personal {
    position: relative;
    background-color: $content-link;
    overflow: hidden;

    .hero--content {
      padding: 200px 0;

      h1 {
        color: $white;
        text-transform: none;
        line-height: 1;
        margin-bottom: 30px;
      }

      p {
        max-width: 100%;
        color: $white;
      }

      .btn-grp {
        margin-top: 50px;
      }

      &-images {
        > * {
          position: absolute;
          bottom: 0;
          width: 1000px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: right;
          }
        }

        &-one {
          top: 200px;
          right: -10%;
        }

        &-two {
          bottom: -160px;
          right: -60px;

          img {
            max-width: 600px;
          }
        }
      }
    }

    .section-bg--hero {
      left: auto;
      width: 70%;

      img {
        object-fit: contain;
      }
    }

    .pattern-bg {
      position: absolute;
      top: 200px;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.5;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &--corporate {
    .hero--content {
      padding: 200px 0;

      h1,
      p {
        color: $white;
      }
    }
  }

  &--business {
    padding-top: 100px;
    background: radial-gradient(113.31% 160.11% at 24.06% 206.84%, #24ec7f 0%, #0e5e33 100%);

    .hero--content {
      padding: 150px 0 0;

      h1,
      p {
        color: $white;
      }
    }

    .certification-text {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      gap: 12px;
      padding: 10px 15px;
      background-color: #0b5a2f;
      border-radius: 6px;
      margin-top: 30px;

      > * {
        display: flex;
      }

      .text {
        color: $white;
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
  }
}

// < 1500px
@include media-breakpoint-down(xxl) {
  .hero--personal {
    .hero--content-images {
      > * {
        width: 850px;
      }

      &-two img {
        max-width: 500px;
      }
    }
  }
}

// < 1200px
@include media-breakpoint-down(xl) {
  .hero {
    &--personal {
      padding-bottom: 400px;

      .hero--content {
        padding: 100px 0 80px;
        text-align: center !important;

        .btn-grp {
          justify-content: center;
        }

        &-images {
          position: relative;

          > * {
            width: 100%;
            height: 550px;
            top: 0;
            right: 0;

            img {
              object-position: center;
            }
          }

          &-one {
            right: -100px;
          }

          &-two {
            left: -200px;
            bottom: 0;

            img {
              max-width: inherit;
              margin-top: 100px;
            }
          }
        }
      }
    }

    &--corporate {
      .hero--content {
        padding: 150px 0;
      }
    }

    &--business .hero--content {
      padding: 100px 0 0;
    }
  }
}

// < 992px
@include media-breakpoint-down(lg) {
  .hero {
    &--content {
      h1 {
        text-transform: none;
      }
      p {
        max-width: 80%;
        font-size: 1.8rem;
      }
    }

    &--personal .hero--content-images > * {
      height: 500px;
    }
  }
}

// < 768px
@include media-breakpoint-down(md) {
  .hero {
    &--content {
      h1 {
        word-break: break-word;
      }

      p {
        max-width: 100%;
        font-size: 1.6rem;
      }
    }

    &--personal {
      .hero--content {
        padding-bottom: 40px;

        &-images {
          &-one {
            right: 0;
            left: 0;
          }
          & > * {
            height: 430px;
          }
        }
      }
    }

    &--corporate {
      .hero--content {
        padding: 80px 0;
      }
    }

    &--business {
      padding-top: 60px;
      
      .hero--content {
        padding-top: 50px;
      }
    }
  }
}

// < 576px
@include media-breakpoint-down(sm) {
  .hero--personal {
    padding-bottom: 80px;
    .hero--content-images {
      display: flex;
      flex-direction: column-reverse;
      gap: 10px;

      > * {
        position: static;
        height: auto;
      }

      &-two {
        img {
          margin-top: 0;
        }
      }
    }
  }
}