.hero {
  position: relative;
  overflow: hidden;

  &--img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    video,
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($deep-green, 0.75);
    }
  }

  &--content {
    text-align: center;

    h1 {
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    p {
      max-width: 55%;
      font-size: 2rem;
      margin: 15px auto 30px;
    }

    .btn {
      min-width: 150px;
    }
  }

  .content-wrapper {
    position: relative;
    z-index: 1;
  }

  &--personal {
    position: relative;
    background-color: $white;
    padding: 50px 0 0;

    .hero--content {
      &-images {
        position: relative;

        .images {
          position: relative;
          padding: 100px 0;

          &--center {
            display: flex;
            justify-content: center;
            gap: 50px;

            img {
              width: 240px;
              opacity: 0;
              transform: translateY(50px) scale(0.8);
            }

            .center-right {
              margin-top: 150px;
            }
          }

          &--left,
          &--right {
            img {
              width: 315px;
              height: auto;
            }
          }

          &--left {
            .left-top,
            .left-bottom {
              position: absolute;
              left: 15%;
            }

            .left-top {
              top: 50%;
              transform: translateY(-85%);
            }

            .left-bottom {
              bottom: 50px;
            }
          }

          &--right {
            .right-top,
            .right-bottom {
              position: absolute;
              right: 16%;
            }

            .right-top {
              top: 70px;
            }

            .right-bottom {
              bottom: 150px;
            }
          }
        }
      }
    }
  }

  &--corporate {
    .hero--content {
      padding: 200px 0;

      h1,
      p {
        color: $white;
      }
    }
  }

  &--business {
    background: radial-gradient(113.31% 160.11% at 24.06% 206.84%, #24ec7f 0%, #0e5e33 100%);

    .hero--content {
      padding: 150px 0 0;

      h1,
      p {
        color: $white;
      }
    }

    .certification-text {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      gap: 12px;
      padding: 10px 15px;
      background-color: #0b5a2f;
      border-radius: 6px;
      margin-top: 30px;

      > * {
        display: flex;
      }

      .text {
        color: $white;
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
  }
}

// < 1500px
@include media-breakpoint-down(xxl) {
  .hero--personal .hero--content-images {
    .images {
      &--left {
        .left-top,
        .left-bottom {
          left: 5%;
        }
      }

      &--right {
        .right-top,
        .right-bottom {
          right: 5%;
        }
      }
    }
  }
}

// < 1200px
@include media-breakpoint-down(xl) {
  .hero {
    &--personal .hero--content-images {
      .images {
        max-width: 720px;
        margin: 0 auto;

        &--left {
          .left-top {
            top: 48%;
            transform: translateY(-100%);
          }

          .left-bottom {
            bottom: 150px;
          }
        }

        &--center {
          img {
            width: 150px;
          }
        }

        &--right {
          .right-top {
            top: 130px;
          }
          .right-bottom {
            bottom: 130px;
          }
        }

        &--left,
        &--right {
          img {
            width: 200px;
          }
        }
      }
    }

    &--corporate {
      .hero--content {
        padding: 150px 0;
      }
    }

    &--business .hero--content {
      padding: 100px 0 0;
    }
  }
}

// < 992px
@include media-breakpoint-down(lg) {
  .hero {
    &--content {
      h1 {
        text-transform: none;
      }
      p {
        max-width: 80%;
        font-size: 1.8rem;
      }
    }
  }
}

// < 768px
@include media-breakpoint-down(md) {
  .hero {
    &--content {
      h1 {
        word-break: break-word;
      }

      p {
        max-width: 100%;
        font-size: 1.6rem;
      }
    }

    &--personal .hero--content-images {
      .images {
        padding: 40px 0;
        max-width: 530px;

        &--left {
          .left-top {
            top: 55%;
          }

          .left-bottom {
            bottom: 0;
          }
        }

        &--center {
          gap: 20px;

          img {
            width: 120px;
          }

          .center-right {
            margin-top: 50px;
          }
        }

        &--right {
          .right-top {
            top: 30px;
          }
          .right-bottom {
            bottom: 70px;
          }
        }

        &--left,
        &--right {
          img {
            width: 150px;
          }
        }
      }
    }

    &--corporate {
      .hero--content {
        padding: 80px 0;
      }
    }

    &--business {
      .hero--content {
        padding-top: 50px;
      }
    }
  }
}

// < 576px
@include media-breakpoint-down(sm) {
  .hero--personal .hero--content-images {
    .images {
      max-width: 270px;

      &--left {
        .left-top,
        .left-bottom {
          left: -20px;
        }

        .left-top {
          top: 50%;
        }

        .left-bottom {
          bottom: 40px;
        }
      }

      &--center {
        gap: 10px;

        img {
          width: 100px;
        }
      }

      &--right {
        .right-top,
        .right-bottom {
          right: -20px;
        }
      }

      &--left,
      &--right {
        img {
          width: 100px;
        }
      }
    }
  }
}
