.hero {
	position: relative;
	overflow: hidden;

	&--img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		video,
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			opacity: 0.5;
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-color: $deep-green;
		}
	}

	&--content {
		text-align: center;

		h1 {
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		p {
			max-width: 55%;
			font-size: 2rem;
			margin: 15px auto 30px;
		}

		.btn {
			min-width: 150px;
		}
	}

	.content-wrapper {
		position: relative;
		z-index: 1;
	}

	&--personal {
		position: relative;
		background-color: $content-link;
		overflow: hidden;

		.hero--content {
			padding: 200px 0;
			position: relative;
			z-index: 2;

			h1 {
				color: $white;
				line-height: 1;
				margin-bottom: 30px;

				// > 1500px
				@include media-breakpoint-up(xxl) {
					letter-spacing: -4.8px;
				}
			}

			p {
				color: $white;

				// > 1200px
				@include media-breakpoint-up(xl) {
					max-width: 80%;
					margin-left: 0;
				}
			}

			.btn-grp {
				margin-top: 50px;
			}

			&-images {
				position: absolute;
				right: -600px;
				left: 0;
				bottom: -230px;
				top: 150px;
				text-align: right;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
					object-position: right bottom;
					max-width: 50%;
				}
			}
		}

		.section-bg--hero {
			left: auto;
			width: 70%;

			img {
				object-fit: contain;
			}
		}

		.pattern-bg {
			position: absolute;
			top: 200px;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0.5;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&--corporate {
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			height: 135px;
			background: linear-gradient(
				180deg,
				rgba(9, 20, 13, 0.5) 13.14%,
				rgba(9, 20, 13, 0.2) 78.7%,
				rgba(9, 20, 13, 0) 100%
			);
			z-index: 1;
		}

		.hero--content {
			padding: 200px 0 260px;

			// > 1200px
			@include media-breakpoint-up(xl) {
				h1 {
					line-height: 1.4;
				}
			}

			h1,
			p {
				color: $white;
			}
		}

		.hero--img {
			&::before {
				background-color: rgba($content-link, 0.4);
			}

			img {
				opacity: 1;
				object-position: bottom;
			}

			video {
				opacity: 1;
				object-position: top;
			}
		}

		.certificates {
			&-row {
				display: flex;
				align-items: center;
				gap: 80px;

				&--content {
					background: url(../img/redesign/corporate/hero-certi-bg.png);
					background-repeat: no-repeat;
					background-size: cover;
					padding: 10px 0;
				}

				.text {
					color: $white;
					font-size: 2rem;
					font-weight: 700;
					max-width: 250px;
				}
			}

			&--swiper {
				overflow: visible;
				flex: 0 0 calc(100% - 330px);
				max-width: calc(100% - 330px);

				.swiper-slide {
					height: 100px;
					width: 100px;
					display: flex;
					align-items: center;
					justify-content: center;

					img {
						height: auto;
					}
				}
			}
		}
	}

	&--business {
		padding-top: 100px;
		background: radial-gradient(
			113.31% 160.11% at 24.06% 206.84%,
			#24ec7f 0%,
			#0e5e33 100%
		);

		.hero--content {
			padding: 150px 0 0;

			h1,
			p {
				color: $white;
			}
		}

		.certification-text {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			text-align: left;
			gap: 12px;
			padding: 10px 15px;
			background-color: rgba(#004520, 0.8);
			border-radius: 6px;
			margin-top: 30px;

			> * {
				display: flex;
			}

			.text {
				color: $white;
				font-size: 1.4rem;
				font-weight: 500;
			}
		}
	}

	&--components {
		position: relative;
		padding-top: 100px;
		background-color: #004520;

		.hero--content {
			padding: 80px 0 0;
			position: relative;

			h1,
			p {
				color: $white;
			}

			h1 {
				text-transform: none;
				line-height: 1;
			}

			p {
				max-width: 65%;
			}
		}

		.hero-bg {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			img {
				height: 100%;
				width: 100%;
				object-fit: contain;
				object-position: bottom;
			}
		}
	}

	&--payment-link {
		position: relative;
		background-color: $content-link;
		overflow: hidden;

		.hero--content {
			padding: 200px 0;
			position: relative;
			z-index: 2;

			h1 {
				color: $white;
				line-height: 1;
				margin-bottom: 30px;

				// > 1500px
				@include media-breakpoint-up(xxl) {
					letter-spacing: -4.8px;
				}
			}

			p {
				color: $white;

				// > 1200px
				@include media-breakpoint-up(xl) {
					max-width: 80%;
					margin-left: 0;
				}
			}

			.btn-grp {
				margin-top: 50px;
			}

			&-images {
				position: absolute;
				right: -60px;
				bottom: 0;
				top: 150px;
				width: 50%;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
					object-position: right bottom;
				}
			}
		}

		.section-bg--hero {
			left: auto;
			width: 70%;

			img {
				object-fit: contain;
			}
		}
	}

	&--contact {
		padding-top: 80px;
		background-color: #004520;

		.hero--content {
			padding: 180px 0;

			h1 {
				color: $white;
				text-transform: none;
			}
		}

		.search-wrapper {
			position: relative;
			max-width: 550px;
			margin: 30px auto 0;

			.icon {
				position: absolute;
				left: 15px;
				top: 13px;
				bottom: 13px;
				display: flex;

				img {
					max-width: 20px;
				}
			}

			.form-control {
				border: 1px solid $white;
				border-radius: 8px;
				background-color: rgba($white, 0.1);
				padding: 14px 14px 14px 48px;
				color: $white;
				font-size: 1.6rem;

				&::placeholder {
					color: $white;
				}

				&::-webkit-input-placeholder {
					color: $white;
				}

				&::-moz-placeholder {
					color: $white;
				}

				&:-ms-input-placeholder {
					color: $white;
				}

				&:-moz-placeholder {
					color: $white;
				}
			}
		}
	}

	&--international-transfer {
		position: relative;
		background-color: $content-link;
		overflow: hidden;

		.hero--content {
			padding: 200px 0;
			position: relative;
			z-index: 2;

			h1 {
				color: $white;
				line-height: 1;
				margin-bottom: 30px;

				// > 1500px
				@include media-breakpoint-up(xxl) {
					letter-spacing: -4.8px;
				}
			}

			p {
				color: $white;
				max-width: 100%;

				// > 1200px
				@include media-breakpoint-up(xl) {
					// max-width: 80%;
					margin-left: 0;
				}
			}

			.btn-grp {
				margin-top: 50px;
			}
		}

		.stats {
			&--items {
				display: flex;
				flex-wrap: wrap;
				gap: 16px;
				margin-top: 100px;
			}

			&--item {
				h3 {
					font-size: 3.2rem;
					font-size: 700;
					color: #24EC7E;
					margin-bottom: 16px;
				}

				p {
					margin: 0;
				}
			}
		}
	}
}

// > 2000px
@media (min-width: 2001px) {
	.hero--personal .hero--content-images {
		right: -280px;
		bottom: -270px;
		top: 150px;

		img {
			max-width: 60%;
		}
	}
}

// <= 2000px
@media (max-width: 2000px) {
	.hero--personal .hero--content-images img {
		max-width: 60%;
	}
}

// < 1500px
@include media-breakpoint-down(xxl) {
	.hero--personal {
		.hero--content-images {
			img {
				max-width: 68%;
			}
		}
	}
}

// < 1200px
@include media-breakpoint-down(xl) {
	.hero {
		&--personal,
		&--international-transfer {
			padding-bottom: 100px;

			.hero--content {
				padding: 150px 0 80px;
				text-align: center !important;

				.btn-grp {
					justify-content: center;
				}

				&-images {
					position: static;

					img {
						object-position: center;
						max-width: 100%;
					}
				}
			}
		}

		&--corporate {
			.hero--content {
				padding: 200px 0 150px;
			}

			.certificates {
				&-row {
					gap: 50px;
				}

				&--swiper {
					flex: 0 0 calc(100% - 300px);
					max-width: calc(100% - 300px);
				}
			}
		}

		&--business,
		&--components {
			.hero--content {
				padding: 100px 0 0;
			}
		}

		&--components {
			.hero--content p {
				max-width: 80%;
			}
		}

		&--payment-link {
			padding-bottom: 100px;

			.hero--content {
				padding: 150px 0 80px;
				text-align: center !important;

				p {
					max-width: 80%;
				}

				.btn-grp {
					justify-content: center;
				}

				&-images {
					position: static;
					margin: 0 auto;

					img {
						object-position: center;
						max-width: 100%;
					}
				}
			}
		}

		&--contact {
			padding-top: 50px;

			.hero--content {
				padding: 150px 0;
			}

			.search-wrapper {
				max-width: 400px;
			}
		}

		&--international-transfer {
			.hero--content {
				padding-bottom: 0;

				p {
					max-width: 80%;
				}
			}

			.currency-conversion-form {
				text-align: left;
			}

			.stats--items {
				justify-content: center;
				margin: 50px 0;

				p {
					max-width: 100%;
				}
			}
		}
	}
}

// < 992px
@include media-breakpoint-down(lg) {
	.hero {
		&--content {
			h1 {
				font-size: 4.8rem;
				letter-spacing: -2.4px;
			}
			p {
				max-width: 80%;
				font-size: 1.8rem;
			}
		}

		&--corporate .certificates-row--content {
			padding: 10px 0;
		}

		&--components .hero--content p {
			max-width: 85%;
		}

		&--contact {
			padding-top: 0;

			.hero--content {
				padding: 140px 0 100px;
			}
		}
	}
}

// < 768px
@include media-breakpoint-down(md) {
	.hero {
		&--content {
			h1 {
				word-break: break-word;
			}

			p {
				max-width: 100%;
				font-size: 1.6rem;
			}
		}

		&--personal,
		&--payment-link,
		&--international-transfer {
			padding-bottom: 50px;

			.hero--content {
				padding-top: 100px;
				padding-bottom: 40px;
			}
		}

		&--corporate {
			.hero--content {
				padding: 100px 0 140px;
			}

			.certificates {
				&-row {
					gap: 10px;
					flex-direction: column;

					.text {
						font-size: 1.2rem;
						max-width: 100%;
					}
				}

				&--swiper {
					flex: 100%;
					max-width: 100%;

					.swiper-slide {
						height: 70px;
						width: 70px;
					}
				}
			}
		}

		&--business,
		&--components {
			padding-top: 60px;

			.hero--content {
				padding-top: 50px;
			}
		}

		&--components,
		&--payment-link {
			.hero--content p {
				max-width: 100%;
			}
		}

		&--contact {
			.hero--content {
				padding: 100px 0 80px;
			}
		}
	}
}

// < 575px
@include media-breakpoint-down(sm) {
	.hero {
		&--payment-link {
			.hero--content-images {
				width: 90%;
			}
		}

		&--international-transfer {
			.hero--content p {
				max-width: 100%;
			}
		}
	}
}
