.mega-menu {
  position: absolute;
  left: $grid-gutter-width/2 !important;
  right: $grid-gutter-width/2;
  padding: 50px 100px;
  display: none;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 4px 12px 0px #00000033;
  z-index: 1000;

  &--container {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 20px;
  }

  &--col {
    line-height: 1;

    .title {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 10px;
      line-height: 1;

      .icon {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #AFF8C8;
        border-radius: 4px;

        img {
          width: 24px;
        }
      }

      .text {
        font-size: 1.4rem;
        font-weight: $header-font-weight;
        color: $body-color;
      }
    }

    ul {
      margin-left: 45px;

      li {
        a {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.3;
          color: $body-color;
          padding: 8px;
          border-radius: 4px;
          background: transparent;
          text-decoration: none;

          &:hover,
          &.active {
            background: #AFF8C8;
          }
        }
      }
    }
  }
}
