.sliding-tabs {
  margin-left: 5px;

  .tabs {
    display: flex;
    position: relative;
    // background-color: #008664;
    padding: 3px;
    border-radius: 99px;

    * {
      z-index: 2;
    }

    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      width: 110px;
      font-size: 1.6rem;
      font-weight: 600;
      border-radius: 99px;
      cursor: pointer;
      transition: color 0.15s ease-in;

      &.active {
        color: #09140E;
      }
    }

    input[type="radio"] {
      display: none;

      // &:checked {
      //   & + label {
      //     color: #00413b;
      //   }
      // }
    }

    .business-tab.active ~ .glider {
      transform: translateX(100%);
    }

    .corporate-tab.active ~ .glider {
      transform: translateX(0);
    }

    .personal-tab.active ~ .glider {
      transform: translateX(200%);
    }

    .glider {
      position: absolute;
      display: flex;
      height: 48px;
      width: 110px;
      background-color: #24ec7e;
      z-index: 1;
      border-radius: 99px;
      transition: 0.25s ease-out;
    }
  }

  &.sliding-tabs--alt {
    .tabs {
      color: $body-color;
      background-color: #aff8c8;

      input[type="radio"]:checked + label {
        color: $white;
      }

      .glider {
        background-color: $secondary;
      }
    }
  }
}

// < 1400px
@include media-breakpoint-down(xxl) {
  .sliding-tabs .tabs {
    .tab,
    .glider {
      width: 100px;
    }
  }
}

// < 576px
@include media-breakpoint-down(sm) {
  .sliding-tabs {
    display: none;
  }
}
